<nav class="navbar navbar-expand-md bg-info navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">First App</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="product" routerLinkActive="active" id="navbardrop" data-toggle="dropdown">
            Products
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/product/product1" routerLinkActive="active">product 1</a>
            <a class="dropdown-item" routerLink="/product/product2" routerLinkActive="active">product 2</a>
            <a class="dropdown-item" routerLink="/product/product3" routerLinkActive="active">product 3</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
